
.bands-card {
	position: relative;
	width: 300px;
	height: 490px;

	background-image: url('../images/bta.svg');
	background-position: center;
	background-size: cover;
background-repeat: no-repeat;

	
}


.salon-card {
	position: relative;
	width: 340px;
	height: 490px;
	
	background-image: url('../images/salon.svg');
	background-position: center;
	background-size: cover;
background-repeat: no-repeat;

	
}

.card-button {
	
	position: initial;
	float: right;
padding: 15px 20px;
}



.cards {

position: absolute;
    bottom: 0;
	
background: linear-gradient(transparent, rgba(8, 157, 243, 0.966)); 
height: 500px;
width: 100%;
/* padding: 10px; */
/* background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
		  background: linear-gradient(transparent, rgba(8, 157, 243, 0.986)); */
	
	}


	.cards-text {

		position: absolute;
		color: white;
			bottom: 0;

	
	
		
		/* background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
				  background: linear-gradient(transparent, rgba(8, 157, 243, 0.986)); */
			
			}
	





.synergylogo{
	width: 300px;
}

.youtube-video{
	width: 100%;

}


.playbutton{
	position: ;
	margin: 12px auto;
float: right;
color: white;
background-color: #1900ff;
	 
}




  .burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 15px;
  z-index: 9999;


 
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}


/* Menu */

.menu {
	list-style: none;
    position: fixed;
    z-index: 1;
    left: 0;
	right: 0;
	top:0;
overflow: scroll;
    display: flex;
  padding: 15vh 0px 0px 0px;
    margin: auto;
    justify-content: center;

 
    width: 100%;
    text-align: center;

 
  
}
.menu ul {
  position: relative;
 
  font-size: 24px;
  padding: 0px;
}
.menu li {
  list-style: outside none none;
  margin: 10px 0px;
  padding: 0;
  cursor: pointer;
}
.menu li:hover {
  color: #ff0000;
}

@media (min-width: 550px) {
	.modal-main {
		position:fixed;
	 
		width:800px;
		height: auto;
		top:50%;
		left:50%;
		z-index: 6;
		padding: 30px;
		transform: translate(-50%,-50%);
	  }
	
 
  }
