body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.page {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  margin-top: 10vh;
}




.subpage{
 
position: static;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 140px;


}





.title {
  position: fixed;
  top: 78px;
margin: 0 12px;
  color: black;
  width: 100%;
  height: 20px;
  text-align: left;
}







.header {
  position: fixed;
  top: 0;
  background-color: white;
  color: white;
  height: 80px;
  width: 100%;
  z-index: 1;
  
 
}



.bgheader img  {
  position: relative;
  width: 240px;
  height: 25px;
  margin: 35px 10px 0px 15px;
  z-index: -1;


}



.card {
  
position: relative;
 padding: 20px;
  align-items: center;
  justify-content: center;

  
}





  




