body {
	
	width: 100%;
background-color: white;

}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.page {
position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70vh;
  margin-top: 10vh;
}




.subpage{
 

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 140px;
  padding: 2px;


}





.title {
  position: absolute;
  top: 25px;
  color: black;

  text-align: left;
 
}

.title-button{
  letter-spacing: 1px;
  font-weight: 500;
}

.page-head {
  position: absolute;
  top: 60px;
  color: black;
  width: 50vw;
  text-align: center;
  font-size: 12px;
}




.header {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: white;
  height: 80px;
  width: 100%;
  z-index: 1;
  
  
  
 
}



.bgheader img  {
  position: relative;
width: 25%;
  margin: 35px 10px 0px 15px;
  z-index: -1;



}


@media only screen and (max-width: 500px) {
  .bgheader img  {
    position: relative;
 
    width: 50%;
    margin: 35px 10px 0px 15px;
    z-index: -1;
  
  
  }




  .title {
    position: absolute;
    top: 25px;
    color: black;
  
    text-align: center;
   
  }
  
  
  
  .page-head {
    position: absolute;
    top: 60px;
    color: black;
    width: 50vw;
    text-align: center;
    font-size: 12px;
  }



  .subpage{
 

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 140px;
    
  
  
  }


  .page {
    position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 100vh;
      margin-top: 10vh;
    }



}





@media only screen and (max-width: 667px) {
  .bgheader img  {
    position: relative;
 
 
    margin: 35px 10px 0px 15px;
    z-index: -1;
  
  
  }



  .title {
    position: absolute;
    top: 25px;
    color: black;
  
    text-align: center;
   
  }
  
  
  
  .page-head {
    position: absolute;
    top: 60px;
    color: black;
    width: 300px;
    text-align: center;
    font-size: 12px;
  }



  .subpage{
 

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 140px;

  
  
  }





}
  




