/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
    border-radius: 100px;
  }
  
  /* Sections
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .section {
    padding: 8rem 0 7rem;
    text-align: center;
    background-image:  url('  http://www.stringsbyreiko.com/media/care_preview@3x-fa9b87aed62cddb52d4097b30910cc693b14e07921d57c81f64bde5c123f6f6c.jpg');
  }
  .section-heading,
  .section-description {
    margin-bottom: 1.2rem;
  
  }

  .synbg{

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 80px;

  }
  .synphone {
      background-color: rgb(255, 72, 0);
      background-image:  url('  http://www.stringsbyreiko.com/media/care_preview@3x-fa9b87aed62cddb52d4097b30910cc693b14e07921d57c81f64bde5c123f6f6c.jpg');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
   background-size: cover;
   margin: 15px; 

     
  }
 

  .nyxphone {
    background-color: rgb(248, 73, 4);
  
    background-image:  url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/New_york_times_square-terabass.jpg/1200px-New_york_times_square-terabass.jpg');
    background-blend-mode: multiply;
   
    background-repeat: no-repeat;
   background-size: cover; 
   
}

.nyxcard {
    border-bottom: 1px solid lightgray;
}

.syncard {
    border-bottom: 1px solid lightgray;
}


  
  /* Hero
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
 
  .phone {
 
    display: flex;
    max-width: 40%;
    margin: 2px auto 0;
  }
  .phone + .phone {
    display: none;
  }
  
  .hero-heading {
    font-size: 2.4rem;
    padding: 4rem 0 3rem;
  }
  

  /* Values
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .values {
    background-image: url('');
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
    background-color: aqua;
  }
  .value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
  }
  .value-heading {
    margin-bottom: .3rem;
    
  }
  .value-description {
    opacity: .8;
    font-weight: 300;
  }
  
  /* Help
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .get-help {
    border-bottom: 1px solid #ddd;
  }
  
  /* Categories
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .categories {
    background-image: url('');
    background-size: cover;
    color: #fff;
  }
  .categories .section-description { 
    margin-bottom: 4rem;
  }
  

  @media (max-width: 640px){

    .syncard {
        padding-bottom: 2rem;
        margin: 10px;
        text-align: left;
        height: 490px;
      }


      .nyxcard {
        padding-bottom: 2rem;
        margin: 10px;
        text-align: left;
        height: 490px;
      }

  }




  /* Bigger than 550 */
  @media (min-width: 550px) {
    .section {
      padding: 2rem 0 2rem;
    }
  
    .phone {
        max-width: 60%;
      top: -7rem;
      right: 3rem;
      max-height: 362px;
      z-index: 3;
    }
    .phone + .phone {
      top: -3rem;
      display: block;
      max-width: 73.8%;
      right: 0;
      z-index: 2;
      max-height: 338px;
    }
    .hero-heading {
      font-size: 2.4rem;
      padding: 4rem 0 3rem;
    }
  }
  
  /* Bigger than 750 */
  @media (min-width: 750px) {
    .hero {
      height: 190px;
    }
    .hero-heading {
      font-size: 2.6rem;
      padding: 4rem 0 3rem;

    }


    
    .section {
      padding: 14rem 0 15rem;
    }
    .hero {
      padding: 16rem 0 14rem;
    }
    .section-description {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    .phone {
      top: -14rem;
      right: 5rem;
      max-height: 510px;
    }
    .phone + .phone {
      top: -12rem;
      max-height: 472px;
    }
    .categories {
      padding: 15rem 0 8rem;
    }
  }
  
  /* Bigger than 1000 */
  @media (min-width: 1000px) {
    /* .section {
      padding: 10rem 0 9rem;
    } */
    .hero {
      padding: 12rem 0;
    }
    .hero-heading {
      font-size: 3.0rem;
    }
    .phone {
      top: -6rem;
      max-height: 615px;
    }
    .phone + .phone {
      top: -4rem;
      max-height: 570px;
    }
  }