











.jumbotron ,h1 {
	margin: auto;

	text-align: center;
	background-color:transparent !important;
	text-align: center;
	font-family: din-condensed, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 60px;
	

}




  
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
  
  
  
  

			

			




