body {
  margin: 0;
  padding: 0;
  font-family:'Open Sans Condensed', sans-serif;
  background: white;
}

html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);  
 
  overflow: hidden; 
}

.landing-page{
  height: 200px;
  padding: 20px;
}

.modal {
  position: relative;
  background: "  ";
 display: flex;
 width: 600px;
  margin: auto;

  padding-bottom: 95px;
  overflow: scroll;
}

.landing {
  
  margin: 170px 10px 10px 10px;
  padding: 15px;
  border-radius: 50px;
  color: black;
  
  
  }


  
  .center-button {
	
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    }
    
  .button:focus {
    outline: none;
    }
    
    .button {
    text-transform: uppercase;
    min-width: 150px;
    max-width: 250px;
    display: block;
    padding: 1em 2em;
    background: none;
    position: relative;
    z-index: 1;
    letter-spacing: 2px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: 4px solid;
    cursor: pointer;
    }
    
    .button::after {
    content: "";
    background-color: transparent;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    opacity: 0;
    color: #3f51b5;
    z-index: -1;
    }
    
    .button:hover::after {
    opacity: 1;
    background-color: #cc879e;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }
    
    .button,
    .button:after {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    }
    
    .button:hover {
    border: 4px solid #cc879e;
    }
  
.head {
 
  display: inline-block;
  cursor: pointer;
  position: fixed;
  left: 50px;
  text-align: center;
  z-index: 9999;
  background: white;
  width: 40px;
  height: 60px;


}
 

/* Burger Menu */
.fa-user-circle{
 

  font-size: 45px;
  color: black;
 
  border-radius: 80px;
 


  
}



.menu {

  
}
.menu ul {

}
.menu li {
  list-style: outside none none;
 
  padding: 0;
  cursor: pointer;
}
.menu li:hover {
  color: #ff0000;
}


.burger-menu {
  display: inline-block;
  position: fixed;
  font-size: 43px;
  text-align: center;
  right: 20px;
  top: 10px;
  z-index: 9999;
  border-radius: 100px;
  height: 60px;
  width: 60px;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 90;
  width: 20px;
  height: 2px;
  opacity: 0.3;
  
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
 
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
  
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.burger-menu.open {
  display: inline-block;

  position: fixed;
  font-size: 43px;
  text-align: center;
  right: 20px;
  top: 10px;
  transition: visibility 0s 1s, opacity 1s linear;
  z-index: 9999;
  border-radius: 100px;
  height: 60px;
  width: 60px;
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  margin: 4px 0;
  transition: 0.4s;
  right: 20px;
  top: 10px;
  background: #FFF;
}


.burger-menu.open .avi {
  visibility: hidden;
  right: 20px;
  top: 10px;
  opacity: 0;
  transition: visibility 0s .3s, opacity .3s linear;
}


.profile-page{
  display: flex-wrap;
  overflow: scroll;
 
}

/* Menu */




.page {
  position: fixed;
  margin-top: 90px;

}

#p1 {
  right: 0;
  overflow: scroll;
  

}

#p2, #p3, #p4, #p5 {
  left: 190%;
  overflow: scroll;
  



}



#p1 { background: lightblue; }
#p2 { background: tomato; }
#p3 { background: gold; }
#p4 { background: deeppink; }
#p5 { background: rebeccapurple; }

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5 {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: .4s !important;
}

#t2:target #p1, 
#t3:target #p1,
#t4:target #p1,
#t5:target #p1{
  background: white;

}

#t2:target #p1 .icon, 
#t3:target #p1 .icon,
#t4:target #p1 .icon,
#t5:target #p1 .icon {
  -webkit-filter: blur(3px);
}

.icon {
  color: #fff;
  font-size: 30px;
  display: inline;
  

}

ul .icon:hover {
  opacity: 0.5;
}

.page .icon .title {
  line-height: 2;
}
#t1:target ul .icon,
#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon{
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;
}
#t1:target #uno,
#t2:target #dos,
#t3:target #tres,
#t4:target #cuatro,
#t5:target #cinco {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

ul {
  list-style: none;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  display: flex;
  padding-bottom: 15px;
  padding-top: 30px;
  margin: auto;
  justify-content: center;
  background-color: black;
  height: 45px;
  width: 100%;
  text-align: center;
  
}



#menu .icon {

  display: flex;
  justify-content: center;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}

a {
  text-decoration: none;
  padding-left: 40px;
  color: white;
  
}



.title {
 font-size: 40px;
 width: 100vw;
 padding: 20px;
 color: black;

}

.hint {
  font-size: 13px;
  overflow: scroll;
}

#p4 .hint {
  display: inherit !important;
}

.hint a {
  color: yellow;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}

.hint a:hover {
  color: #FFF;
}

.line-trough {
  text-decoration: line-through;
}

.page .icon {
  position: absolute;
  top: 0px;

  left: 0;
  right: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .icon {
  height: 0;
}

.page#p1 .icon {
  transform: translateX(10%) !important;
}

#t2:target .page#p2 .icon,
#t3:target .page#p3 .icon,
#t4:target .page#p4 .icon,
#t5:target .page#p5 .icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}



.projects-card{

  max-width: 335px;
  margin-top: 90px;
  margin: 20px;
  padding: 10px;

}

@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 667px) { 
  
  
  #menu .icon {

    display: flex;

    justify-content: center;
    transition: all .5s ease-out !important;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
  }
  
  a {
    text-decoration: none;
    color: white;
    padding: 10px 25px 30px 25px ;
    font-size: 15px;
    
  }

  ul {
    list-style: none;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
  
    padding-bottom: 30px;
    padding-top: 15px;
   
 
   
  height: 40px;
   
    text-align: center;
    
  }



 
  




  
}






@media only screen 
and (min-device-width : 320px) 
 { 
  
  #menu .icon {

    display: flex;
height: 38px;
    justify-content: center;
    transition: all .5s ease-out !important;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
  }
  
  a {
    text-decoration: none;
    color: white;
    padding: 10px 20px 30px 20px ;
    font-size: 10px;
    
  }

  ul {
    list-style: none;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
  
    padding-bottom: 35px;
    padding-top: 5px;
   
 
   
  height: 40px;
   
    text-align: center;
    
  }
  







}




  




